/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";



#container {
	height: 100%;
	font-family: 'Raleway', sans-serif;
	width: 100%;
}

header {
background: rgb(2,181,241);
background: -moz-linear-gradient(top,  rgba(2,181,241,1) 0%, rgba(71,197,239,1) 50%, rgba(122,210,239,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(2,181,241,1)), color-stop(50%,rgba(71,197,239,1)), color-stop(100%,rgba(122,210,239,1)));
background: -webkit-linear-gradient(top,  rgba(2,181,241,1) 0%,rgba(71,197,239,1) 50%,rgba(122,210,239,1) 100%);
background: -o-linear-gradient(top,  rgba(2,181,241,1) 0%,rgba(71,197,239,1) 50%,rgba(122,210,239,1) 100%);
background: -ms-linear-gradient(top,  rgba(2,181,241,1) 0%,rgba(71,197,239,1) 50%,rgba(122,210,239,1) 100%);
background: linear-gradient(to bottom,  rgba(2,181,241,1) 0%,rgba(71,197,239,1) 50%,rgba(122,210,239,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02b5f1', endColorstr='#7ad2ef',GradientType=0 );
	height: 100px;
	margin: 0 auto;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 2000;

	div {
		margin: 0 auto;
		width: 940px;
	
		nav {
			float: right;
			margin: .5em 0;

			a {
				font-size: 2em;
				margin: 0 25px;
				text-decoration: none;
			}
		}

		img {
			height: 150px;
			margin: 10px;
		}
	}
}

#main {
background: rgb(2,42,87);
background: -moz-linear-gradient(top,  rgba(2,42,87,1) 0%, rgba(24,54,86,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(2,42,87,1)), color-stop(100%,rgba(24,54,86,1)));
background: -webkit-linear-gradient(top,  rgba(2,42,87,1) 0%,rgba(24,54,86,1) 100%);
background: -o-linear-gradient(top,  rgba(2,42,87,1) 0%,rgba(24,54,86,1) 100%);
background: -ms-linear-gradient(top,  rgba(2,42,87,1) 0%,rgba(24,54,86,1) 100%);
background: linear-gradient(to bottom,  rgba(2,42,87,1) 0%,rgba(24,54,86,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#022a57', endColorstr='#183656',GradientType=0 );
	margin-top: 100px;
	width: 100%;

	&, .badges {
	moz-box-shadow:inset 0px 1px 6px #000000;
	-webkit-box-shadow:inset 0px 1px 6px #000000;
	box-shadow:inset 0px 1px 6px #000000;
	}

	.badges {
		background: url('/images/grid.png');
		height: 200px;
		padding: 25px 10px 10px;
		.badge-wrap	{	
			margin: 0 auto;
			width: 940px;

			div {
				width: 31.91489361702128%;
				height: 175px;
				border: 1px solid white;
				float: left;
			}

			div:nth-child(2) {
				margin: 0 1.5%;
			}
		}
	}

	.content-wrap {
		width: 940px;
		margin: 10px auto;

	}


}

.content-wrap, header {
	moz-box-shadow: 0px 3px 6px #000000;
	-webkit-box-shadow: 0px 3px 6px #000000;
	box-shadow: 0px 3px 6px #000000;
}

.content {
	padding: 15px;
	line-height: 25px;
	float: left;
}

.team {
	float: left;

}
.content, .team, .team-member.content {
	background: white;

}

aside.team-member {
	width: auto !important;
}

.team-member {
	padding: 10px;
	float: left;
	margin-bottom: 15px;
	width: 47.77777%;

	img {
		height: 150px;
		width: 150px;
		border-radius: 150px;
		border: 1px solid black;
		float: left;
		margin: 0 10px 0 0;
	}
}

.clear-fix {
	clear: both;
}





