/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../Desktop/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Desktop/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Desktop/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Desktop/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Desktop/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Desktop/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Desktop/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Desktop/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Desktop/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/screen.scss */
#container {
  height: 100%;
  font-family: "Raleway", sans-serif;
  width: 100%;
}

/* line 16, ../sass/screen.scss */
header {
  background: #02b5f1;
  background: -moz-linear-gradient(top, #02b5f1 0%, #47c5ef 50%, #7ad2ef 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #02b5f1), color-stop(50%, #47c5ef), color-stop(100%, #7ad2ef));
  background: -webkit-linear-gradient(top, #02b5f1 0%, #47c5ef 50%, #7ad2ef 100%);
  background: -o-linear-gradient(top, #02b5f1 0%, #47c5ef 50%, #7ad2ef 100%);
  background: -ms-linear-gradient(top, #02b5f1 0%, #47c5ef 50%, #7ad2ef 100%);
  background: linear-gradient(to bottom, #02b5f1 0%, #47c5ef 50%, #7ad2ef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#02b5f1', endColorstr='#7ad2ef',GradientType=0 );
  height: 100px;
  margin: 0 auto;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2000;
}
/* line 32, ../sass/screen.scss */
header div {
  margin: 0 auto;
  width: 940px;
}
/* line 36, ../sass/screen.scss */
header div nav {
  float: right;
  margin: 0.5em 0;
}
/* line 40, ../sass/screen.scss */
header div nav a {
  font-size: 2em;
  margin: 0 25px;
  text-decoration: none;
}
/* line 47, ../sass/screen.scss */
header div img {
  height: 150px;
  margin: 10px;
}

/* line 54, ../sass/screen.scss */
#main {
  background: #022a57;
  background: -moz-linear-gradient(top, #022a57 0%, #183656 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #022a57), color-stop(100%, #183656));
  background: -webkit-linear-gradient(top, #022a57 0%, #183656 100%);
  background: -o-linear-gradient(top, #022a57 0%, #183656 100%);
  background: -ms-linear-gradient(top, #022a57 0%, #183656 100%);
  background: linear-gradient(to bottom, #022a57 0%, #183656 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#022a57', endColorstr='#183656',GradientType=0 );
  margin-top: 100px;
  width: 100%;
}
/* line 66, ../sass/screen.scss */
#main, #main .badges {
  moz-box-shadow: inset 0px 1px 6px black;
  -webkit-box-shadow: inset 0px 1px 6px black;
  box-shadow: inset 0px 1px 6px black;
}
/* line 72, ../sass/screen.scss */
#main .badges {
  background: url("/images/grid.png");
  height: 200px;
  padding: 25px 10px 10px;
}
/* line 76, ../sass/screen.scss */
#main .badges .badge-wrap {
  margin: 0 auto;
  width: 940px;
}
/* line 80, ../sass/screen.scss */
#main .badges .badge-wrap div {
  width: 31.91489361702128%;
  height: 175px;
  border: 1px solid white;
  float: left;
}
/* line 87, ../sass/screen.scss */
#main .badges .badge-wrap div:nth-child(2) {
  margin: 0 1.5%;
}
/* line 93, ../sass/screen.scss */
#main .content-wrap {
  width: 940px;
  margin: 10px auto;
}

/* line 102, ../sass/screen.scss */
.content-wrap, header {
  moz-box-shadow: 0px 3px 6px black;
  -webkit-box-shadow: 0px 3px 6px black;
  box-shadow: 0px 3px 6px black;
}

/* line 108, ../sass/screen.scss */
.content {
  padding: 15px;
  line-height: 25px;
  float: left;
}

/* line 114, ../sass/screen.scss */
.team {
  float: left;
}

/* line 118, ../sass/screen.scss */
.content, .team, .team-member.content {
  background: white;
}

/* line 123, ../sass/screen.scss */
aside.team-member {
  width: auto !important;
}

/* line 127, ../sass/screen.scss */
.team-member {
  padding: 10px;
  float: left;
  margin-bottom: 15px;
  width: 47.77777%;
}
/* line 133, ../sass/screen.scss */
.team-member img {
  height: 150px;
  width: 150px;
  border-radius: 150px;
  border: 1px solid black;
  float: left;
  margin: 0 10px 0 0;
}

/* line 143, ../sass/screen.scss */
.clear-fix {
  clear: both;
}
